/* Stylesheet */
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px 5px;
    padding: 0;
    font-family: 'Ubuntu', serif;

}

#logo {
    font-size: 24px;
    font-weight: bold;
}

#project-title {
    font-weight: bold;
}

#main {
    margin: 20px 0 0 0;
}

#home {
    width: 600px;
    margin: 30px auto;
    text-align: center;
}

#home h1 {
    font-size: 72px;
    margin-bottom: 50px;
}

#footer {
    width: 600px;
    margin: 50px auto;
}

.column { width: 15%; float: left; padding-bottom: 100px; text-align: center;}
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; height: 20px; }
.portlet-header .ui-icon { float: right; margin: 5px 5px 0px 0px; cursor: pointer; }
.portlet-content { padding: 0.4em; font-family: 'Ubuntu', serif; }
.portlet-meta p {
    font-size: 10px;
    padding-bottom: 5px;
}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

#column-labels {
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
}

#column-labels li {
    width: 15%;
    float: left;
}

#dialog {
    display: none;
}

#dialog h3 {
    font-family: 'Ubuntu', serif;
}

#edit-sticky {
    font-family: 'Ubuntu', serif;
    font-size: 1em;
    padding: 5px;
}

#form td {
    padding: 5px 10px;
}

#form input {
    padding: 2px 5px;
}

#login {
    width: 600px;
    margin: 30px auto;
}


