{% extends "base.html" %}

{% block title %}Your Projects{% endblock %}

{% block content %}

<h2>Project</h2>

{{ project.name }}

<div>

    <div id="todo" class="column">
        <h2>To Do</h2>
        <div class="portlet">
            <div class="portlet-content">Some text</div>
        </div>
    </div>

    <div id="inprogress" class="column">
        <h2>In Progress</h2>

    </div>

    <div id="document" class="column">
        <h2>Document</h2>
    </div>

    <div id="test" class="column">
        <h2>Test</h2>
    </div>

    <div id="verify" class="column">
        <h2>Verify</h2>
    </div>

    <div id="done" class="column">
        <h2>Done</h2>
    </div>

</div>

{% endblock %}
