{% extends "base.html" %}

{% block title %}Your Projects{% endblock %}

{% block content %}

<h2>Project</h2>

{{ project.name }}

<div>
    <ul id="column-labels">
        <li><h2>To Do</h2></li>
        <li><h2>In Progress</h2></li>
        <li><h2>Document</h2></li>
        <li><h2>Test</h2></li>
        <li><h2>Verify</h2></li>
        <li><h2>Done</h2></li>
    </ul>

    <div id="todo" class="column">
        {% for note in project.note_set.all %}
            {% if note.state == 'todo' %}
            <div id="note-{{ note.id }}" class="portlet ui-widget">
                <div class="portlet-content">{{ note.content }}</div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="inprogress" class="column">
        {% for note in project.note_set.all %}
            {% if note.state == 'inprogress' %}
            <div id="note-{{ note.id }}" class="portlet">
                <div class="portlet-content">{{ note.content }}</div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="document" class="column">
        {% for note in project.note_set.all %}
            {% if note.state == 'document' %}
            <div id="note-{{ note.id }}" class="portlet">
                <div class="portlet-content">{{ note.content }}</div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="test" class="column">
        {% for note in project.note_set.all %}
            {% if note.state == 'test' %}
            <div id="note-{{ note.id }}"  class="portlet">
                <div class="portlet-content">{{ note.content }}</div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="verify" class="column">
        {% for note in project.note_set.all %}
            {% if note.state == 'verify' %}
            <div id="note-{{ note.id }}"  class="portlet">
                <div class="portlet-content">{{ note.content }}</div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <div id="done" class="column">
        {% for note in project.note_set.all %}
            {% if note.state == 'done' %}
            <div id="note-{{ note.id }}"  class="portlet">
                <div class="portlet-content">{{ note.content }}</div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

</div>

{% endblock %}
