{% extends "base.html" %}

{% block content %}

<div id="login">
    <h1>StickiesApp</h1>

    <form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table id="form">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }} {{ form.username.errors }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }} {{ form.password.errors }}</td>
</tr>
</table>

<input type="hidden" name="next" value="/" />
<input type="submit" value="Log in" />
</form>

</div>

<script type="text/javascript" charset="utf-8">
    document.getElementById('id_username').focus();
</script>

{% endblock %}
